* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(242, 248, 247);
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(77,69,198);
    background: linear-gradient(90deg, rgba(77,69,198,1) 0%, rgba(79,79,201,1) 35%, rgba(30,202,237,1) 100%); 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}
.logo_img {
    margin-right: 0.5rem;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

/* NAVBAR */
nav {
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    padding-right: 1rem;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}
.nav_items {
    margin-left: -3.5rem;
}
.nav_auth {
    margin-left: auto;
}

/* MAIN */
main {
    min-height: 80vh;
    background: rgb(77,69,198);
    background: linear-gradient(0deg, rgba(77,69,198,1) 0%, rgba(79,79,201,1) 17%, rgba(30,202,237,1) 100%);
}

.container {
    padding: 1rem;
}

/* LANDING PAGE */
.grid_container {
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  
}
.grid_div {
    min-height: 12vh;
    background-color: rgba(68, 161, 248, 0.3);
    color: rgba(182, 218, 252, 0.3);
    text-align: center;
}
/* hero grid */
.span-row-3{
    grid-row: span 3 / auto;
}
.div_main_grid {
    padding: 0.5rem 1rem;
    color: #fff;
}
.div_main_grid h1 {
    padding-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.div_main_grid p {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.15em;
    padding-bottom: 2rem;
    color: #efeff0;
}
.hero_img {
    width: 200px;
    margin: 0 auto;
}

/* 
.grid_div:nth-child(3n + 2) {
    background-color: rgb(49, 77, 206);
}
.grid_div:nth-child(3n + 3) {
    background-color: #ff9231;
}
.grid_div:nth-child(3n + 4) {
    background-color: #10d863;
} */


/* GENERIC */
.btn {
    min-width: 5rem;
    margin-top: 2rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid rgba(24, 82, 170, 0.5);
    border-radius: 3px;
}
.btn:hover {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgba(77,69,198,0.5), rgba(30,202,237,0.5)) 1;
    border-radius: 5px;
}

/* FOOTER */
footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(215, 231, 247);
    background: rgb(77,69,198);
    background: linear-gradient(285deg, rgba(77,69,198,1) 0%, rgba(79,79,201,1) 35%, rgba(30,202,237,1) 100%); 
}
