<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkStorage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b1c25c50a2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/storage.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'assets/logo.png' %}" alt="logo" class="logo_img">
                LinkStorage
            </a>
            {% if user.is_authenticated %}
            <div class="nav_items">
                <a href="{% url 'storage' %}">storage</a>
                <a href="{% url 'favorites' %}">favorites</a>
                <a href="{% url 'add_link' %}">add link</a>
            </div>
            {% endif %}
            <div class="nav_auth">
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">login</a>
                <a href="{% url 'register' %}">register</a>
                {% else %}
                <a href="{% url 'logout' %}">logout</a>
                {% endif %}
            </div>
        </nav>
        <!-- search bar -->
        {% if user.is_authenticated %}
        <form class="search_bar_form" method="GET" action="/search/">
            {% csrf_token %}
            <div class="search_bar">
                <input type="search" name="search" placeholder="search by title">
                <button class="btn btn_search" type="submit">🔍</button>
            </div>
        </form>
        {% endif %}
    </header>

    <main>
        {% block body_block %}

        {% endblock %}
    </main>

    <footer>
        <p>Developed by ON - O.Natalia </p>
    </footer>
</body>

</html>