{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="grid_container">
    <div class="grid_div">link 1</div>
    <div class="grid_div">link 2</div>
    <div class="grid_div">link 3</div>
    <div class="grid_div">link 4</div>
    <div class="grid_div div_main_grid span-row-3">
        <h1>LinkStorage</h1>
        <!-- <h2>Web App to store links</h2> -->
        <p>store all your important links and access them from everywhere</p>
        <img src="{% static 'assets/hero-img.png' %}" class="hero_img" width="200" alt="hero" />
    </div>
    <div class="grid_div">link 6</div>
    <div class="grid_div">link 7</div>
    <div class="grid_div">link 8</div>
    <div class="grid_div">link 9</div>
    <div class="grid_div">link 10</div>
    <div class="grid_div">link 11</div>
    <div class="grid_div">link 12</div>
    <div class="grid_div">link 13</div>
</div>

<!-- <img src="https://pixabay.com/de/photos/blatt-klee-gr%C3%BCn-kleeblatt-fr%C3%BChling-1482948/" alt="img"> -->
{% endblock %}