{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="conatainer storage_container">
    <h2 id="top_all_links">all links</h2>
    {% if links %}
    {% for link in links.all %}
    <div class="storage" id="link">
        <div class="link_cover">
            {% if link.cover %}
            <img src="{{link.cover.url}}" alt="{{link.alt}}" width="300" class="link_img">
            {% else %}
            <img src="{{link.cover_url}}" alt="{{link.alt}}" width="300" class="link_img">
            {% endif %}
        </div>
        <div class="link_content">
            <h3>{{link.title}}</h3>
            <p class="category"><i class="fas fa-hashtag category"></i> category: {{link.category}}</p>
            <p>{{link.description|safe|linebreaks|default_if_none:'' }}</p>
            <a href="{{link.link_path}}" target="_blank" class="link_path" rel="noopener noreferrer">
                <i class="fas fa-external-link-alt"></i>
                {{link.link_path|escape }}
            </a>
            {% if user.is_authenticated %}
            <div class="link_btns">
                <a class='btn btn-primary' href="{% url 'update_link' pk=link.pk %}">
                    <i class="far fa-edit"></i> edit
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class='btn btn-primary' href="{% url 'delete_link' pk=link.pk %}">
                    <i class="fas fa-trash-alt"></i> delete
                </a>
                <a class='btn btn-primary' href="{% url 'favorite_link' pk=link.pk %}">
                    {% if is_favorite %}
                    <i class="fas fa-heart"></i> favorited
                    {% else %}
                    <i class="fas fa-heart-broken"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="msg no_result">
        <p>there are no links yet</p>
        <a href="{% url 'add_link' %}">add link</a>
    </div>
    {% endif %}
    <a href="#top_all_links">
        <i class="icon_top_arrow far fa-caret-square-up"></i>
    </a>
</div>

{% endblock %}