{% extends "base.html" %}

{% block body_block %}
<div class="conatainer storage_container">
    <h2> links</h2>

    {% if links %}
    {% for link in links.all %}
    <div class="storage" id="link">
        <div>
            <h3>{{link.title}}</h3>
            <div class="link_cover">
                {% if link.cover %}
                <img src="{{link.cover.url}}" alt="{{link.alt}}" width="350">
                {% else %}
                <img src="#" alt="no image available" />
                {% endif %}
            </div>
        </div>
        <div class="link_content">
            <p>Category: {{link.category}}</p>
            <p>{{link.description|safe|linebreaks}}</p>
            <a href="{{link.link_path.url}}" target="_blank" class="link_path">{{link.link_path}}</a>
            {% if user.is_authenticated %}
            <div class="link_btns">
                <a class='btn btn-primary' href="{% url 'update_link' pk=link.pk %}">
                    edit
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class='btn btn-primary' href="{% url 'delete_link' pk=link.pk %}">
                    ❌
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class='btn btn-primary' href="{% url 'delete_link' pk=link.pk %}">
                    ✨
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>there are no links yet</p>
    {% endif %}
</div>
{% endblock %}